@import '../../../../variables';

.bottom-main-section {
    background-color: $beige-100;
}

.sale-poster-section {
    background-color: $beige-100;
    display: flex;
    justify-content: center;
    gap: 120px;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 27px;
}

.poster-right-side {
    padding: 184px 0 184px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.poster-discount {
    font-size: 36px;
    color: $gold;
    font-family: $font-family-montserrat;
}

.poster-sale {
    font-size: 75px;
    color: $brown-100;
    font-family: $font-family-chilanka;
}

.poster-right-side button {
    background-color: $beige-100;
    padding: 28px 50px;
    align-self: flex-start;
}

.sale-poster-img{
    padding: 0 50px 0 50px;
}

.dog-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-img {
    display: inline-block;
    z-index: 1;
}

.dog-img-container::before {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: auto;
    height: 606px;
    border-radius: 50%;
    background-color: $beige-200;
    content: "";
}

.bottom-main-section-container{
    margin-bottom: 150px;
}

@media (max-width: 850px) {
    .sale-poster-section{
        flex-direction: column;
        row-gap: 0;
        padding: 10px 20px;
    }

    .poster-right-side{
        padding: 30px;
        text-align: center;
    }

    .poster-sale{
        font-size: 60px;
    }

    .dog-img {
        height: 500px;
    }

    .dog-img-container::before {
        width: auto;
        height: 350px;
    }
}
