
//colors
$beige-card-bg: #EDEDED;

$gray-100: #EDEDED;
$gray-200: #EAEAEA;
$gray-300: #A3A2A1;
$gray-400: #908F8D;
$gray-500: #D9D9D8;
$gray-600: #CACACA;

$beige-100: #F9F3EC;
$beige-200: #F7EEE4;

$brown-100: #41403E;

$gold: #DEAD6F;

//fonts
$font-family-chilanka: 'Chilanka', cursive;
$font-family-montserrat: 'Montserrat', sans-serif;